body {
  background: #cccccc;
}

table {
  border-spacing: 0px;
  background: #cccccc;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 24px;
  color: #cccccc;
  background: #cccccc;
}

td.col-0 {
  border-left: 20px #4c4c4c double;
}

td.col-4 {
  border-right: 20px #4c4c4c double;
}

td.col-5 {
  border: 0px!important;
  background: #cccccc;
  color: #cccccc;
}

tr.row-4 td {
  border-bottom: 20px #4c4c4c double;
}

tr.row-0 td {
  border-top: 20px #4c4c4c double;
}

tr.row-0 td:first-child {
  border-top-left-radius: 15px;

}

tr.row-0 td:nth-last-child(2) {
  border-top-right-radius: 15px;
}

tr.row-4 td:first-child {
  border-bottom-left-radius: 15px;
}

tr.row-4 td:nth-last-child(2) {
  border-bottom-right-radius: 15px;
}

tr.row-1 td.col-1, tr.row-1 td.col-3, tr.row-3 td.col-1, tr.row-3 td.col-3 {
  border-radius: 15px;
  border: 20px #4c4c4c double;
  color: #cccccc;
}

#hero, #food {
  font-size: 58px;
}

.score {
  padding: 15px 25px 25px;
  margin-top: 25px;
  width: 570px;
  height: 150px;
  border: 7px #4c4c4c solid;
  border-radius: 15px;
  font-size: 18px;
  font-family: fantasy;
}
